.eventCard {
    margin: 20px;
    height: 350px;
    width: 280px;
}

.eventCard-filter {
    display: flex;
    justify-content: flex-end;
}

.ant-card-cover {
    height: 200px;
    width: 300px;
    overflow: hidden;
}

.event-image {
    height: inherit;
    width: inherit;
}