<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Form validation example</title>
    <style>
        input {
            display: block;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <h1>Sign in Example</h1>
    <br />
    {% for message in get_flashed_messages() %}
    <div>
        {{ message }}
    </div>
    {% endfor %}
    <div class="shadow p-3 mb-5 bg-body rounded">
        <form method="POST">
            {{ form.hidden_tag() }}

            {{ form.username.label(class="form-label") }}

            {{ form.username(class="form-control") }}
            <br />

            {{ form.password.label(class="form-label") }}

            {{ form.password(class="form-control") }}
            <br />


            <br />

            {{ form.submit(class="btn btn-secondary") }}


        </form>
    </div>
    <br /><br /><br />
</body>

</html>